.user-container {
    display: flex;
    width: 25%;
    gap: 10px;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    height: 25%;
    align-self: center;
    cursor: pointer;
}